$main-color: black;
$light-background-color: #EFEFEF;
$modal-background-color: rgba(255, 255, 255, .7);
$primary-color: #3360B8;
$primary-dark-color: #023394;
$secondary-color: #666666;
$warning-color: #FFB832;
$warning-dark-color: #DF9200;
$danger-color: #FF3732;
$danger-dark-color: #DF0600;
$success-color: #29D234;
$success-dark-color: #00AF0B;
